@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: #800000;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    color: #800000;
    font-weight: 700;
}
span, p {
    color: #21252f;
}
html, body {
    width: 100%;
}

/* Header & Navigation Section */
.logo img {
    width: 50px;
}
header {
    width: 100%;
    height: 85px;
    text-align: center;
}
.navigation a {
    text-decoration: none;
}
.navigation ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item {
    width: calc(100%/5);
    padding: 5px 0;
    color: #800000;
    font-weight: 400;
}
/* .nav-link, .nav-link:visited {
} */
.nav-link:hover, .nav-link:active, .nav-link:focus  {
    color: #800000;
    font-weight: 600;
}

/* Hero Section */
section {
    width: 100%;
}
.hero-section {
    height: 650px;
    background-image: url(assets/cover.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /* Combined photo */
    /* https://www.pexels.com/photo/two-paintbrushes-on-multicolored-abstract-painting-1061779/ */
    /* https://www.pexels.com/photo/codes-on-tilt-shift-lens-2004161/ */
}
.hero-container {
    width: 100%;
    height: 100%;
    background-color: rgba(42, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-container h1 {
    font-size:xx-large;
}
.hero-container h1, .hero-container span {
    color:#FCFCFC;
}
.hero-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-name h1 {
    margin-left: 10px;
    font-family: 'Titillium Web', sans-serif;
}
.hero-title {
    width: 50%;
    margin-top: 25px;
    text-align: center;
}
.hero-cv {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-cv a {
    text-decoration: none;
    padding: 15px 20px;
    margin: 5px;
    border-radius: 5px;
    color:#FCFCFC;
    background-color: maroon;
    font-weight: 500;
    display: inline-block;
}

.hero-cv a:hover {
    text-decoration: none;
    padding: 15px 20px;
    margin: 5px;
    border-radius: 5px;
    color:#FCFCFC;
    background-color: maroon;
    border: 1px solid #BBBBBB;
    display: inline-block;
}

/* Scroll Up */
.scroll-btn-container {
    width: 100%;
}
.scroll-up-btn {
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.5);
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

/* About Section */
.about-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-title {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-hr {
    width: 55%;
    height:5px;
    margin: 5px 0 15px 0;
    border-bottom: 2px solid #800000;
}
.about-content {
    width: 100%;
    padding: 0 5%;
}
.about-content strong {
    color:#21252f;
}
.zirc-name {
    color: #800000;
    font-weight: 700;
}
.about-content-left {
    width: 120px;
    margin-right: 10px;
    float: left;
}
.about-content-left img {
    border-radius: 60px;
    border: 3px solid #21252f;
}
.about-content-right p {
    margin-top: 15px;
    text-indent: 35px;
}

/* Skills Section */
.skills-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: #dfdfdf;
}
.skills-title {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills-item {
    width: 80%;
    text-align: center;
}
.skills-item span {
    padding: 10px;
    margin: 5px; 
    color: #800000;
    background-color:#FCFCFC;
    border: 1px solid #800000;
    display: inline-block;
}

/* Project Section */
.project-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: #BBBBBB;
}
.project-title {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-container {
    width: 90%;
    display: flex;
    align-items: center;
}
.project-content {
    width: 100%;
    display: flex;
}
.project-item {
    padding: 20px;
}
.project-item img {
    width: 100%;
}

/* Contact Section */
.contact-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-title {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-content {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.contact-container-left {
    width: 100%;
    display: flex;
    justify-content: center;
}
.left-content {
    width: 95%;
    margin-bottom: 25px;
}
.contact-container-right {
    width: 100%;
    display: flex;
    justify-content: center;
}
.right-content {
    width: 95%;
}
.left-content-title, .left-content-details, .right-content-title, .contact-form {
    width: 100%;
}
.left-content-title, .right-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-content-details h6 {
    margin: 20px 0 5px 0;
}
.left-content-details h2,
.left-content-details a {
    font-size: medium;
    color: #21252f;
    text-decoration: none;
}
.contact-content-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact-label {
    margin: 20px 0 5px 0;
}
.contact-field {
    padding: 10px;
    border: 1px solid #800000;
}
.contact-btn {
    margin-top: 20px;
    padding: 15px 10px;
    background-color: #500000;
    color: white;
}


/* Footer Section */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    background-color:#800000;
}
footer a,
footer p,
footer small {
    color:#FCFCFC;
}

/* Media Queries */
/* Tablet */
@media only screen and (min-width: 768px){
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        top: 0;
        position:fixed;
        background-color:rgba(252, 252, 252, 0.95);
    }
    header img {
        /* margin-right: 15px; */
    }
    .navigation ul {
        justify-content:right;
    }
    .nav-item {
        width: 120px;
        padding: 8px 0;
    }

    .hero-section {
        height: 700px;
        margin-top: 85px;
    }
    .hero-title {
        width: 100%;
        display: flex;
        /* align-items: center; */
        /* justify-content:center; */
    }
    .hero-name h1 {
        font-size: 5rem;
        font-weight: 700;
    }
    .hero-des {
        width: 50%;
        text-align: right;
        display: flex;
        flex-direction: column;
        padding-right: 50px;
        box-sizing: border-box;
    }
    .hero-dev {
        width: 50%;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        box-sizing: border-box;
    }    
    .hero-job {
        font-size:2rem;
        font-weight:600;
    }
    .hero-cv {
        flex-direction: row;
    }

    .about-container {
        width: 90%;
    }
    .section-hr {
        width: 35%;
    }

    /* Hide Scroll Up */
    .scroll-btn-container {
        display: none;
    }
    
}

/* Desktop */
@media only screen and (min-width: 992px){
    .hero-job {
        font-size:3rem;
        font-weight:700;
    }    
}